<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>YouTube Application</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="conatiner">
      <header>
        <div class="row">
          <div class="col-lg-3">
            <img
              id="logo"
              src="youtube_logo_dark.jpg"
              height="50px"
              width="210px"
              alt=""
            />
          </div>
          <div class="col-lg-6">
            <div class="input-group">
              <input
                id="search"
                class="form-control"
                type="text"
                placeholder="Search Here"
              />
              <button id="search-button" type="button" class="btn">
                <i id="button" class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </div>

          <div class="col-lg-3">
            <button id="lobtn" type="button" class="btn btn-outline-danger">
              Logout
            </button>
          </div>
        </div>
      </header>

      <hr />
      <div class="container">
        <div id="videos">
          <div class="row">
            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/yGB9jhsEsr8"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/0gsrxVXYdxk"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/xF554Tlzo-c"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/Qgl81fPcLc8"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/5HWCsmE9DrE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/PZ53jeXcoNY"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/RwxC5J8LI4Q"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/kdXa4J_lKcY"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/PJWemSzExXs"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/8jLOx1hD3_o"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/mcBIlbhofT4"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/N2ZU06Yd9AU"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/T9dJ_cE5Asw"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/AU4Nct1lEVU"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/Tqsz6fjvhZM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-md-3">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/Z-pT0XDYvDM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <script src="main.js"></script>
    </div>
  </body>
</html>
