body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

header{
    margin: 1% 0 0 0; 
}

#search {
    color: rgb(22, 10, 10);
    float:right;
    margin-top: 1%;
    margin-left: 5px;
    border-radius: 20px;
}

.col-lg-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe{
    width: 100%;
    height: auto;
    margin-bottom: 20%;
    
}

#videos {
    display: flex;
    flex-wrap: wrap;
}

#button {
    font-size: 1.3em;
    color: rgb(255, 0, 0);
    margin-top: 5px;
}